@import './components/About/About.css';
@import './components/Contacts/Contacts.css';
@import './components/Footer/Footer.css';
@import './components/Header/Header.css';
@import './components/Homepage/Homepage.css';


.App {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}